<div class="reveal">
	<div class="slides">
		<section id="title" data-markdown>
			<script type="text/template">
				# Snapshot Testing with Jest
				### Believe the hype
			</script>
		</section>
		<section id="intro" data-markdown data-transition="convex">
			<script type="text/template">
				## Who am I?
				##### Jason Wohlgemuth
				<img src="img/profile.jpg" class="img-circle img-responsive img-center profile" />
				<br /> [
				<i class="fa fa-twitter" aria-hidden="true"></i>/@jhwohlgemuth](https://twitter.com/@jhwohlgemuth)&nbsp;&nbsp;&nbsp;[<i class="fa fa-github" aria-hidden="true"></i>/jhwohlgemuth](https://github.com/jhwohlgemuth)<br />
			</script>
		</section>
		<section id="agenda">
			<h2>Agenda</h2>
			<ol>
				<li class="fragment fade-up">Jest...so what? big deal, who cares?</li>
				<li class="fragment fade-up">Your project before and after Jest</li>
				<li class="fragment fade-up">Snapshot testing</li>
				<li class="fragment fade-up">Visual regression tests with image snapshots</li>
			</ol>
		</section>
		<% include why-jest %>
		<% include before-and-after %>
		<% include snapshot-testing %>
		<% include visual-regression-testing %>
		<section id="references" data-background="img/web-surfing-time.gif">
			<h3>References</h3>
			<div style="padding:20px;background-color:rgba(0,0,0,0.8);border-radius:20px;">
				<ul>
					<li><a href="https://facebook.github.io/jest/">Jest Homepage</a></li>
					<li><a href="https://github.com/americanexpress/jest-image-snapshot">jest image-snapshot plugin</a></li>
					<li><a href="https://github.com/facebookincubator/create-react-app/pull/250#issuecomment-237098619">A note on Jest</a></li>
					<li><a href="https://facebook.github.io/jest/blog/2016/07/27/jest-14.html#why-snapshot-testing">Why Snapshot Testing?</a></li>
					<li><a href="https://benmccormick.org/2016/09/19/testing-with-jest-snapshots-first-impressions/">Testing with Snapshots: First Impressions</a></li>
				</ul>
			</div>
		</section>
	</div>
</div>
